
.use-transform div{
  padding-top: 3%;
  padding-right: 20%;
  padding-bottom: 10%;
  padding-left: 20%;
  text-align:center;
    
}

 
.profile-hint{
	font-size: 11px;
	color:blue;
	margin-left:27%;
	display:inline-block;
	font-weight: bold;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}