.register-hint{
  font-size: 13px;
	color:blue;
	display:inline-block;
	font-weight: bold;
}

.red-font{
  color:red;
}

.indent-small {
    margin-left: 5px;
  }
  .form-group.internal {
    margin-bottom: 0;
  }
  .dialog-panel {
    margin: 10px;
  }

  .box {
    display: flex; /* or  */
  }
  .datepicker-dropdown {
    z-index: 200 !important;
  }
  .panel-body {
    background: #e5e5e5;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #e5e5e5 0%, #ffffff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    font: 600 15px "Open Sans", Arial, sans-serif;
  }
  label.control-label {
    font-weight: 600;
    color: #777;
  }
  