body{
    background-image: linear-gradient(red, orange,  yellow, white);
}

#login-section{
    position: relative;
    top:10%;
}

#logo{
    display: flex;
    justify-content: center;
}


#description{
    display: flex;
    justify-content: center;
}

#pic{
    width: 40%;
    height: 20%;
}

#user-selection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.option{
    cursor: pointer;
    text-align: center;
    width:50%;
}

input{
    border-radius: 5px;
    width: 70%;
}

#username{
    padding: 20px 0px;
}


#password{
    padding: 20px 0px;
}

#submit{
    padding: 30px 0px;
}

#submit input{
    background-color: #8f8ff0;
    border-color: black;
    color: white
}

#submit input:hover{
    background-color: red;
}

#login-information{
    display: flex;
    justify-content: center;
}

#login-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    margin: 10px;
}

#form-content{
    position: relative;
    top:10%;
}