body{
    background-image: linear-gradient(red, orange, yellow, white);
    background-repeat: no-repeat;
    background-size: cover;
}

#register-section{
    position: relative;
    top:10%;
}

#logo{
    display: flex;
    justify-content: center;
}

#description{
    display: flex;
    justify-content: center;
}

#pic{
    width: 40%;
    height: 20%;
}

#user-selection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    padding: 10px;
}

input{
    border-radius: 5px;
    width: 70%;
    height: 30;
    display: block;
}


#submit{
    padding: 30px 0px;
}

#submit input{
    background-color: #8f8ff0;
    border-color: black;
    color: white
}

#submit input:hover{
    background-color: red;
}

#register-information{
    display: flex;
    justify-content: center;
}

#register-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
}
